<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{data.page_heading}}
        </h1>
    </div>
    
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="assets/images/about-me.png" alt="">
    </div>
    <div class="col-md-6">
        <h2>{{data.page_title}}</h2>
        <p>{{data.page_description}}</p>
    </div>
</div>
<!-- /.row -->
<hr>