<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Blog</h1>
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a>
            </li>
            <li class="active">My Blog</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <div ng-repeat="blog in data">
            <!-- First Blog Post -->
            <h2>
                <a href="#/blog-post/{{blog.id}}">{{blog.post_title}}</a>
            </h2>
            <p><i class="fa fa-clock-o"></i> Posted on {{blog.created_at}}</p>
            <hr>
            <p>{{blog.post_description}}</p>
            <a class="btn btn-primary" href="">Read More <i class="fa fa-angle-right"></i></a>
            
            <hr>
        </div>
        
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>

    </div>

</div>
<!-- /.row -->

<hr>