<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Portfolio</h1>
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li class="active">My Portfolio</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Project One -->
<div ng-repeat="project in data">
    <div class="row"  >
        <div class="col-md-7">
            <a href="">
                <img class="img-responsive img-hover" src="assets/images/project-image.png" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{project.project_title}}</h3>
            <h4>{{project.sub_title}}</h4>
            <p>{{project.project_description}}</p>
            <a class="btn btn-primary" href="">View Project</i></a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>


