<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{data.post_title}}</h1>
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a>
            </li>
            <li class="active">{{data.post_title}}</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <p><i class="fa fa-clock-o"></i> Posted on {{data.created_at}}</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">{{data.post_description}}</p>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>

    </div>

</div>
<!-- /.row -->

<hr>